div.notes__wrapper{
  display: flex;
  flex-flow: row wrap;
  justify-content: start;
  align-content: center;
  margin: 0 auto;
}

/* renderDisplay */

div.note__completed {
  color: #999;
  text-decoration-line: line-through;
  background-color: #cfd8dc !important;
}

div.note__completed p {
  font-style:italic;
  background-color: #cfd8dc !important;
  border-bottom: 1px solid #81888b !important;
}

div.note__archived {
  font-style:italic;
  background-color: #f1eb96 !important;
}

div.note__archived p {
  font-style:italic;
  background-color: #f1eb96 !important;
  border-bottom: 1px solid #e7ad42 !important;
}

div.note {
  height: auto;
  /* background-color: #cfd8dc; */
  background-color: #80d8ff;
  margin: 5px;
  padding: 15px;
  position: relative;
  display: flex;
  max-width: 400px;
  min-width: 200px;
  flex: 1 1;
}

div.note p {
  word-wrap: break-word;
  width: 100%;
  margin-top: 0;
  padding-bottom: 10px;
  border-bottom: 1px solid #42a6d1
}

div.note:hover > span {
  opacity: 1;
}

div.note > span {
  position: absolute;
  bottom: 2px;
  right: 2px;
  opacity: 0;
  transition: opacity .25s linear;
}

div.note button {
  margin: 2px;
  background: none;
  border: 0;
  padding: 5px;
  opacity: 0.25;
  transition: opacity 0.2s ease-in;
  outline: none;
}

div.note button:hover {
  opacity: 1;
}

div.note button:active {
  color: #00b3ff;
}

div.note button:not(:last-child) {
  margin-right:5px; 
}


/* renderForm */

div.note > textarea {
  height: 75%;
  background: rgba(255, 255, 255, .5);
}

div.note #save {
  /* background-color: #5cb85c; */
  position: absolute;
  right: 0;
  bottom: 0;
}

div.note textarea {
  min-height: 100%;
  width:100%;
  border: none;
  padding: 0;
  background-color: #80d8ff;
  outline: none;
}
